<%- include('partials/head') %>

<article class="campspace_widget">
    <section class="campspace_widget__intro">

    </section>
    <section class="campspace_widget__info">

    </section>
</article>

<%- include('partials/foot') %>