<%- include('partials/head') %>

<article class="campspace_widget">
    <section class="campspace_widget__image">
        <img src="assets/b7a0ea71d5ecc143a3b605b5bc2312e3.jpeg" alt="kampere in ons bos cadettenkamp">
    </section>
    <section class="campspace_widget__info">
        <img class="campspace_widget__info_logo" src="assets/campspace-logo.png" alt="campspace logo">
        <span class="campspace_widget__info_title">Camping in our forest on the edge of the 'Cadettenkamp' nature reserve</span>
        <div class="campspace_widget__info_book">
            <span class="campspace_widget__info_price">starting from €48.00 a night</span>
            <a href="https://campspace.com/en/s/kamperen-in-ons-bos-aan-rand-natuurgebied-cadettenkamp-noord-brabant_4336?endDate=&filter%5Baccommodations%5D%5B0%5D=bring_caravan&filter%5Baccommodations%5D%5B1%5D=bring_motorhome&filter%5Baccommodations%5D%5B2%5D=bring_minivan&filter%5Baccommodations%5D%5B3%5D=bring_caravan&filter%5Baccommodations%5D%5B4%5D=bring_motorhome&filter%5Baccommodations%5D%5B5%5D=bring_minivan&numberOfAdults=2&numberOfChildren=0&pitchTypeId=2030&startDate=">
                <div class="campspace_widget__info_button">
                    Book now
                </div>
            </a>
        </div>
    </section>
</article>

<%- include('partials/foot') %>