@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*   {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;

    --csGreen: #00B189;
    --csGreenShaded: #27634D;
    --csYellow: #FFB100;
    --csYellowShaded: #D99D26;
    --csBlue: #4074BC;
    --csBlueShaded: #234063;

    --csBlack: #000000;
    --csWhite: #FFFFFF;
    --csDarkGrey: #32322E;
    --csDarkGreyShaded: #191917;
    --csMediumGrey: #9D9D95;
    --csMediumGreyShaded: #6E6E68;
    --csLightGrey: #F5F5F1;
    --csLightGreyShaded: #DDDDD9;
}

body {
    min-height: 100vh;
}

.campspace_widget {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    width: 900px;
    height: 375px;

    border: 3px solid;
    border-radius: 25px;

    position: absolute;
    left: 28%;
    top: 28%;
}

.campspace_widget__image img {
    background-image: url("./assets/b7a0ea71d5ecc143a3b605b5bc2312e3.jpeg");
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 22px;
    border-top-left-radius: 22px;
}

.campspace_widget__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 2rem;
    max-width: 80%;
}

.campspace_widget__info_logo {
    max-width: 100%;
}

.campspace_widget__info_title {
    color: var(--csMediumGreyShaded);
    font-size: 1.3rem;
    font-weight: 500;
}

.campspace_widget__info_book {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campspace_widget__info_price {
    color: var(--csMediumGreyShaded);
    font-size: 0.6rem;
    font-weight: 500;
}

.campspace_widget__info_book a {
    text-decoration: none;
    width: 80%;
}

.campspace_widget__info_button {
    background-color: var(--csGreen);
    color: var(--csWhite);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    border-radius: 1.2rem;
}